.u-section-1 .u-sheet-1 {
  min-height: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin-bottom: 0;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 20px 20px 40px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}