/* CSS Reset: http://meyerweb.com/eric/tools/css/reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

@font-face {
  font-family: "Zapf Humanist 601 W03 Demi";
  src: url("https://db.onlinewebfonts.com/t/db8b040bb0e3f4581454c62b51eb23ec.eot");
  src: url("https://db.onlinewebfonts.com/t/db8b040bb0e3f4581454c62b51eb23ec.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/db8b040bb0e3f4581454c62b51eb23ec.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/db8b040bb0e3f4581454c62b51eb23ec.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/db8b040bb0e3f4581454c62b51eb23ec.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/db8b040bb0e3f4581454c62b51eb23ec.svg#Zapf Humanist 601 W03 Demi") format("svg");
}

#body{
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #150c21;
  background-color: #FAF9F6;
}

body {
  background-color: #FAF9F6;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

#main {
  width: 54em;
  margin: 0px auto;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #4E5A32;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #4E5A32;
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
  line-height: 3em;
  font-weight: 500;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

/**************************************************/
/* Profile image and description. */

#intro {
  padding-top: 6em;
  display: flex;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

#intro-text {
  width: 40em;
  float: left;
}

#intro-image {
  margin: 2em 0 0 2em;
  width: 12em;
  height: 15.5em; /*12*/
  border-radius: 0.5em;
  float: left;
  overflow: hidden;
  
}

#intro-image img {
  width: 12em;
}

#others-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/**************************************************/
/* Section buttons. */

#menu {
  display: flex;
}

.menu-item {
  float: left;
  margin-right: 2em;
}

h2 {
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  color: #4E5A32;
}

.selected h2 {
  color: #150c21;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
  color: #4E5A32;
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  margin-right: 1em;
  float: left;
  padding: 0;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

.button:hover {
  color: #150c21;
}

.button:active,
.button.is-checked {
  color: #150c21;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/**************************************************/
/* Isotope grid list of items. */

.grid {
  padding-bottom: 6em;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.description {
  margin-bottom: 1em;
}

.list-item {
  width: 100%;
  line-height: 1em;
  margin-top: 1em;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

.list-item p.date {
  display: inline-block;
  width: 3em;
  color: #a0a8b0;
}

/**************************************************/
/* Gallery of 9 preview videos. */
/* Define preview grid */

.previews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 32em; /* ori 12.5 28 */
}

.previews video {
  border-radius: 5px;
}

.previews a:hover {
  border: none;
}

.preview1 {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}
.preview2 {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
}
.preview3 {
  grid-row: 1;
  grid-column: 3;
  width: 100%;
}


.preview4 {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
}
.preview5 {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
}
.preview6 {
  grid-row: 2;
  grid-column: 3;
  width: 100%;
}


.preview7 {
  grid-row: 3;
  grid-column: 1;
  width: 100%;
}
.preview8 {
  grid-row: 3;
  grid-column: 2;
  width: 100%;
}
.preview9 {
  grid-row: 3;
  grid-column: 3;
  width: 100%;
}

/**************************************************/
/* Buttons for showing more or less highlights. */

.toggle-button {
  margin-top: 2em;
}

.toggle-button a {
  color: #a0a8b0;
}

.toggle-button a:hover {
  color: #4E5A32;
}

/**************************************************/
/* Publication details (thumbnail media, title, and description). */

.thumbnail {
/*  width: 21%;*/
  width: 30%;
  float: left;
  margin-right: 2%;
}

.thumbnail:hover {
  border-bottom: none;
}

.thumbnail img {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.thumbnail video {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

h3 a {
  color: #150c21;
}

h3 a:hover {
  color: #4E5A32;
}

.publication {
  margin-bottom: 0.5em;
}

.publication p {
  font-size: 1em;
  line-height: 1.5em;
  color: #a0a8b0;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

.project-description {
  width: 65%; /* 80 */
  float: left;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}

/**************************************************/
/* Subtle footer at the bottom of the page. */

#footer {
  color: #a0a8b0;
  position: absolute;
  bottom: 0;
  line-height: 2.5em;
  font-family: "Zapf Humanist 601 W03 Demi", "Zapf Humanist 601 Std Demi", serif;
}
